@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.logo-font{
  font-family: 'Lobster', cursive;
}

.logo-font-size {
  font-size: 30px;
}

body, html, .body, .hero {
  height: 100%
}

body {
  color: #000000;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-image: url('/media/papers.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero > div > h1 {
  font-size: 7.5rem;
}

.cstm-lighter-text {
  font-weight: lighter;
}

.hero > div {
  text-align: center;
  margin-bottom: 20px;
}

.cstm-nav-bg-white {
  background-color: #FFFFFF;
}

nav {
  transition: 400ms ease-in;
}

.cstm-flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cstm-flex-column-align-justify-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cstm-content > h1 {
  margin-top: 32px;
}

.cstm-content img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin: 16px;
}

.cstm-content > .cstm-filter > form {
  display: flex
}

.cstm-content > .cstm-filter > form > * {
  margin: 0px 8px;
}

.cstm-content > .cstm-filter {
  margin-top: 42px;
}

.cstm-content > .cstm-filter > form > p {
  margin: auto 8px;
}

.search-images img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 8px;
}
